.wizard-navigation
    h1 Wizard Spain

    ul.sidebar-nav
        li(class="#{ current.source == 'step-1' ? 'active' : '' }")
            a(href='/wizard_sp_tco/step-1.html') Printout & Visual Inspection
            ul
                li(class="#{ current.source == 'step-1' ? 'active' : '' }")
                    a(href='/wizard_sp_tco/step-1.html') Collect vehicle datas
                li(class="#{ current.source == 'step-1_1' ? 'active' : '' }")
                    a(href='/wizard_sp_tco/step-1_1.html') Collect TCO datas
                li(class="#{ current.source == 'step-1_2' ? 'active' : '' }")
                    a(href='/wizard_sp_tco/step-1_2.html') Installation template
                li(class="#{ current.source == 'step-1_3' ? 'active' : '' }")
                    a(href='/wizard_sp_tco/step-1_3.html') Seales
        li(class="#{ current.source == 'step-2' ? 'active' : '' }")
            a(href='/wizard_sp_tco/step-2.html') Seals and Tyres
            ul
                li(class="#{ current.source == 'step-2' ? 'active' : '' }")
                    a(href='/wizard_sp_tco/step-2.html') Visual seal inspection
                li(class="#{ current.source == 'step-2_1' ? 'active' : '' }")
                    a(href='/wizard_sp_tco/step-2_1.html') Visual tyre inspection
        li(class="#{ current.source == 'step-4' ? 'active' : '' }")
            a(href='/wizard_sp_tco/step-4.html') Check KITAS
        li(class="#{ current.source == 'step-5' ? 'active' : '' }")
          a(href='/wizard_sp_tco/step-5.html') Device Testing
        li(class="#{ current.source == 'step-6' ? 'active' : '' }")
          a(href='/wizard_sp_tco/step-6.html') Parametrization
        li(class="#{ current.source == 'step-7' ? 'active' : '' }")
          a(href='/wizard_sp_tco/step-7.html') Error Checks
        li(class="#{ current.source == 'step-8' ? 'active' : '' }")
          a(href='/wizard_sp_tco/step-8.html') Last Steps