.wizard-navigation
    h1 Wizard GE
    
    ul.sidebar-nav
        li(class="#{ current.source == 'index' ? 'active' : '' }")
            a(href='/wizard_ge/index.html') Measurement type
        li(class="#{ current.source == 'step-1' ? 'active' : '' }")
            a(href='/wizard_ge/step-1.html') Common Test Steps
        li(class="#{ current.source == 'step-2' ? 'active' : '' }")
            a(href='/wizard_ge/step-2.html') Testing of Device’s Functions
        li(class="#{ current.source == 'step-3' ? 'active' : '' }")
            a(href='/wizard_ge/step-3.html') Security Check and creating of Inspection Report
        li(class="#{ current.source == 'step-4' ? 'active' : '' }")
            a(href='/wizard_ge/step-4.html') Sensor Test
        li(class="#{ current.source == 'step-5' ? 'active' : '' }")
          a(href='/wizard_ge/step-5.html') DTCO Parameterisation, Adaption and tolerance Check
        li(class="#{ current.source == 'step-6' ? 'active' : '' }")
          a(href='/wizard_ge/step-6.html') Create Report and Print Report and Inspection Report